<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebServicesUJ">
  <test thread-count="5" name="WebServicesUJ">
    <classes>
      <class name="restServices.LibraryServicesSingleTest"/>
      <class name="soapServices.EmployeeServicesSingleTest"/>
      <class name="restServices.LibraryServicesMultipleTest"/>
      <class name="soapServices.EmployeeServicesMultipleTest"/>
    </classes>
  </test> <!-- WebServicesUJ -->
</suite> <!-- WebServicesUJ -->
